html, body{
  margin: 0;
  padding: 0;
}
#greetings-container{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
.header{
  display: inline;
}
h2{
 font-size: 12px;
 float: right;
 padding-left: 40%;
 padding-right: 40%;
}
.menu-bar{
  width: 50px;
  padding-top: 10px;
}
.overlay{
  height: 100%;
  width: 100%;
  display: block;
 }
.welcomeText {
  font-size: 50px;
  text-align: center;
  color: orange;
  position: absolute;
  width: 100%;
  padding-top: 17%;
  position: absolute;
}
.welcomeImage{
/*  background-image: url("http://bit.ly/2hrIv9U");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;*/
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 5px solid black;
  background:
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45));
  /*its because I'm saying "background"*/
}
.welcomeImage1{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 5px solid black;
    background:
    url("https://scontent.cdninstagram.com/t51.2885-15/e35/15625003_240709616360384_120124948164378624_n.jpg");
  background-size: cover;
}
.welcomeImage2{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 5px solid black;
    background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url("http://bit.ly/2gEAuQl");
  background-size: cover;
}
.welcomeImage3{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 5px solid black;
    background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url("http://bit.ly/2htGoTc");
  background-size: cover;
}
@keyframes bouncing{
  0%{bottom: 200px;}
  50% {bottom: 150px;}
  100% {bottom: 200px;}
}
.arrow{
  animation: bouncing 1s infinite ease-in-out;
  position: absolute;
  padding-top: 46%;
  padding-left: 45%;
}
#about-anna-section{
  width: 100%;
  min-width: 1024px;
  background: url("http://bit.ly/2qPtg21");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  padding-bottom: 60vh;
}
.navigation2{
  padding: 40px;
  float: left;
  margin-top: 20px;
}
ul{
  list-style-type: none;
  font-size: 15px;
}
li{
  padding: 2px;
}
.modal-content{
  width: 830px;
  text-align: center;
}
.paragraph-overlay{
  display: inline-block;
  font-size: 20px;
  padding-left: 150px;
  width: 39%;
}
.anna-description{
  font-size: 15px;
  padding: 20px;
  padding-top: 79px;
  color: black;
/*  background-color: rgba(0, 0, 0, .5);*/
}
.menu-bar{
  width: 40px;
}
.btn{
  background: none;
  border: none;
}
