/*html {
  background: no-repeat center center;
  margin: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
html, body{
  margin: 0;
  padding: 0;
/*  position: fixed;*/
}
#greetings-container{
  background-size: cover;
  /*height: 100vh;*/
  background-repeat: no-repeat;
  position: relative;
}
.overlay{
  height: 100%
  width: 100%;
 }
.welcomeText {
  font-size: 50px;
  text-align: center;
  color: orange;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  padding-top: 20%;
}
.welcomeImage{
/*  position: relative;*/
  width: 100%;
  height: 90%;
  background-size: cover;
}
@keyframes bouncing{
  0%{bottom: 200px;}
  50% {bottom: 150px;}
  100% {bottom: 200px;}

}
.arrow{
  animation: bouncing 1s infinite ease-in-out;
  position: absolute;
  padding-top: 46%;
  padding-left: 45%;
}
