@font-face {
  font-family: "Codebold.otf";
  src: url(../fonts/CODEBold.otf);
}
@font-face{
  font-family: "GeosansLight.ttf";
  src: url(../fonts/GeosansLight.ttf);
}
@font-face{
  font-family: "GinoraSansRegular.otf";
  src: url(../fonts/GinoraSansRegular.otf);
}
html, body{
  margin: 0;
  padding: 0;
}
#greetings-container{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
.header{
  display: inline;
  text-align: center;
  font-family: "GinoraSansRegular.otf";
  height: 20px;
}
.menu-bar{
  width: 50px;
  padding-top: 10px;
}
.overlay{
  height: 100%;
  width: 100%;
  display: block;
 }
.welcomeText {
  font-size: 50px;
  font-family: "Codebold.otf";
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  width: 100%;
  padding-top: 35vh;
  position: absolute;
}
.welcomeImage1{
  height: 610px;
  width: 65%;
  margin-left: 17%;
  border: 2px solid black;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)),
    url("http://bit.ly/2tcBAX0");
  background-size: cover;
}
.welcomeImage2{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 2px solid black;
    background: url("http://bit.ly/2ssVcK0");
  background-size: cover;
}
.welcomeImage3{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 2px solid black;
    background: url("http://bit.ly/2rmElnu");
  background-size: cover;
}
@keyframes bouncing{
  0%{bottom: 200px;}
  50% {bottom: 150px;}
  100% {bottom: 200px;}
}
.arrow{
  animation: bouncing 1s infinite ease-in-out;
  position: absolute;
  padding-top: 46%;
  padding-left: 45%;
}
#about-anna-section{
  background: url("http://bit.ly/2qThmF7");
  background-attachment: fixed;
  background-size: 1310px;
  top: 723px;
  position: absolute;
  margin-right: 0px;
  background-repeat: no-repeat;
  padding-bottom: 36vh;
}
.navigation2{
  font-family: "GeosansLight.ttf";
  padding: 40px;
  float: left;
  margin-top: 20px;
}
a {
  color: white;
}
.navOptionsL{
  list-style-type: none;
  font-size: 15px;
}
.navOptions{
  padding: 2px;
  font-size: 20px;
}
.modal-content{
  width: 830px;
  text-align: center;
}
.anna-description{
  font-family: "GeosansLight.ttf";
  font-size: 20px;
  color: white;
    display: inline-block;
  padding-left: 469px;
  padding-right: 355px;
  position: relative;
  top: 20px;
}
.menu-bar{
  width: 40px;
}
.btn{
  background: none;
  background-color: none;
  border: none;
  color: inherit;
  color: white;
  font-size: 20px;
  padding-left: 0px;
  padding-top: 0px;
}
.btn:hover{
  background: none;
  outline: none;
}
/*projects page below*/
/*#projectsOverall{
  background:url("http://bit.ly/2t5sV9I");
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}*/
.overlay1{
  background: url("http://bit.ly/2s4zmeA");
  min-height: 610px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pageTitle {
  text-align: center;
  font-size: 30px;
}
.projectTitle1{
  font-size: 20px;
  padding-left: 20px;
}
.projectTitle{
  font-size: 20px;
  padding-left: 20px;
}
.projectLink{
  padding: 20px;
}
.technologies{
  list-style-type: none;
  display: inline-block;
  padding:0px;
  margin: 0px;
  overflow: hidden;
}
.appDesc{
  margin: 20px;
  color: white;
}
