@font-face {
  font-family: "Codebold.otf";
  src: url(../fonts/CODEBold.otf);
}
@font-face {
  font-family: "BabelSans.ttf";
  src: url(../fonts/BabelSans.ttf);
}
@font-face{
  font-family: "GeosansLight.ttf";
  src: url(../fonts/GeosansLight.ttf);
}
@font-face{
  font-family: "GinoraSansRegular.otf";
  src: url(../fonts/GinoraSansRegular.otf);
}
@font-face {
  font-family: "FFF_Regular_TRIAL.ttf";
  src: url(../fonts/FFF_Regular_TRIAL.ttf);
}
@font-face{
  font-family: "HomizioRegular.ttf";
  src: url(../fonts/HomizioRegular.ttf);
}
html, body{
  margin: 0;
  padding: 0;
}
#greetings-container{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /*background-attachment: fixed;*/
  padding: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
.header{
  display: inline;
  text-align: center;
  font-family: "GinoraSansRegular.otf";
  height: 20px;
}
.menu-bar{
  width: 50px;
  padding-top: 10px;
}
.overlay{
  height: 100%;
  width: 100%;
  display: block;
 }
.welcomeText {
  font-size: 50px;
  font-family: "Codebold.otf";
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  width: 100%;
  padding-top: 35vh;
  position: absolute;
}
.welcomeImage1{
  height: 610px;
  width: 65%;
  margin-left: 17%;
  border: 2px solid black;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)),
    url("http://bit.ly/2tcBAX0");
  background-size: cover;
}
.welcomeImage2{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 2px solid black;
    background: url("http://bit.ly/2ssVcK0");
  background-size: cover;
}
.welcomeImage3{
  height: 610px;
  width: 85%;
  margin-left: 10%;
  border: 2px solid black;
    background: url("http://bit.ly/2rmElnu");
  background-size: cover;
}
@keyframes bouncing{
  0%{bottom: 200px;}
  50% {bottom: 150px;}
  100% {bottom: 200px;}
}
.arrow{
  animation: bouncing 1s infinite ease-in-out;
  position: absolute;
  padding-top: 46%;
  padding-left: 45%;
}
/*animation: ABOUT ANNA SECTION*/
#about-anna-section{
  background: url("http://bit.ly/2qThmF7");
  background-attachment: fixed;
  background-size: 1310px;
  top: 723px;
  position: absolute;
  margin-right: 0px;
  background-repeat: no-repeat;
  padding-bottom: 36vh;
}
.navigation2{
  font-family: "GeosansLight.ttf";
  padding: 40px;
  float: left;
  margin-top: 20px;
  font-weight: bold;
}
a {
  color: white;
}
a:hover{
  color: #4EBBFF;
}
.navOptions{
  list-style-type: none;
  padding: 2px;
  font-size: 20px;
}
.modal-content{
  width: 830px;
  text-align: center;
}
.anna-description{
  font-family: "GeosansLight.ttf";
  font-size: 20px;
  color: white;
    display: inline-block;
  padding-left: 469px;
  padding-right: 355px;
  position: relative;
  top: 20px;
  background-attachment: fixed;
}
.menu-bar{
  width: 40px;
}
.btn{
  font-weight: bold;
  background: none;
  background-color: none;
  border: none;
  color: inherit;
  color: white;
  font-size: 20px;
  padding-left: 0px;
  padding-top: 0px;
}
.btn:hover{
  background: none;
  outline: none;
  text-decoration: underline;
  color: #4EBBFF;
}
/*projects page below*/
.project1{
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)),
  url("http://bit.ly/2s4zmeA");
  min-height: 657px;
  padding-top: 66px;
  padding-left: 50px;
  padding-right: 450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0vh;
}
.project2{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url("http://bit.ly/2t65Zav");
  min-height: 578px;
  padding-top: 76px;
  padding-left: 50px;
  padding-right: 300px;
  background-attachment: fixed;
/*  background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 0vh;
}
#pageTitle {
  font-family: "FFF_Regular_TRIAL.ttf";
  text-align: center;
  height: 40px;
  font-size: 30px;
  background: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  z-index: 9999;
}
.gohome2{
  float: right;
  font-family: "HomizioRegular.ttf";
  font-size: 15px;
  padding-right: 208px;
  margin-top: -18px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gohome2:hover{
  color: #4EBBFF;
}
.projectTitle{
  font-family: "FFF_Regular_TRIAL.ttf";
  font-size: 40px;
  color: white;
  padding-left: 20px;
}
.projectLink{
  font-family: "FFF_Regular_TRIAL.ttf";
  font-size: 15px;
  padding: 20px;
  padding-top: 5px;
}
.projectsList{
  position: absolute;
  padding-top: 380px;
}
.technologies{
  list-style-type: none;
  display: inline-block;
  padding:0px;
  margin: 0px;
  color: #f5f5f1;
  font-size: 20px;
  font-family: "FFF_Regular_TRIAL.ttf";
  overflow: hidden;
}
.appDesc{
  padding-left: 696px;
  padding-right: 200px;
  color: white;
  position: absolute;
  font-size: 20px;
  /*font-weight: 30px;*/
  font-family: "BabelSans.ttf";
}
.video{
  padding: 20px;
  float: center;
  position: absolute;
}
/*Fullup time*/
.fillupNav{
    position: fixed;
    top: 40%;
    left: 90%;
    width: 50px;
    z-index: 9999;
    list-style-type: none;
}
/*.fillupNav ul {
    position: relative;
    padding: 3px;
    padding-left: 45%;
    list-style-type: none;
}
.fillupNav ul li{
  position: relative;
  padding-bottom: 20px;
  padding-left: 35%;
  color: white;
}
.fillupNav a{
  display: block;
  width: 8px;
  height: 8px;
  text-indent: -9999px;
  border-radius: 50%;
  border: 2px solid;
  border-color: white;
  text-decoration: none;
}
.fillupNav a:hover{
  border-radius: 50%;
  background-color: white;
  text-decoration: none;
}
.fillupNav a:active{
  border-radius: 50%;
  background-color: red;
  text-decoration: none;
}*/


